name: Build & Publish

on:
  push:
  workflow_dispatch:
    inputs:
      release_tag:
        description: '发布标签'
        required: true
        type: string

jobs:
  build:
    runs-on: 'windows-2022'
    name: Build Plugin
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
          ref: ${{ github.event_name != 'workflow_dispatch' && github.ref || github.event.inputs.release_tag }}

      - name: List files
        run: ls

      - name: Install .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      
      - name: Build
        run: 'pwsh -ep bypass ./scripts/build.ps1'
        
      - name: Upload Plugin to Artifacts
        id: upload-unsigned-artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'DutyIsland_Plugin'
          path: |
            ./DutyIsland/cipx/*.cipx
            ./DutyIsland/cipx/*.md

      - name: Upload NuPkg to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: 'DutyIsland_NuPkg'
          path: |
            ./**/bin/Release/*.nupkg

  publish:
    runs-on: windows-2022
    if: ${{ always() && success('build') && github.event.inputs.release_tag && github.event_name != 'pull_request' }}
    needs: [ build ]
    concurrency:
      group: "publish-public"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
          ref: ${{ github.event_name != 'workflow_dispatch' && github.ref || github.event.inputs.release_tag }}

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./out_artifacts

      - name: Combine Artifacts
        run: pwsh -ep bypass ./scripts/combine-artifacts.ps1

      - name: Generate Release Note
        env:
          tagName: ${{ github.event.inputs.release_tag }}
        run: 'pwsh -ep bypass ./scripts/gen-release-note.ps1'

      - name: Upload Plugin to release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./out/*.cipx,./out/*.md,./out/*.nupkg"
          draft: true
          bodyFile: ./release-note.md
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.event_name != 'workflow_dispatch' && github.ref || github.event.inputs.release_tag }}
